[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/PHILLJAY
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/PHILLJAY
	label-Verified = -1..+1 group user/PHILLJAY
	push = group user/PHILLJAY
	read = group user/PHILLJAY
	rebase = group user/PHILLJAY
	removeReviewer = group user/PHILLJAY
	submit = group user/PHILLJAY
[access "refs/heads/*"]
	create = group user/PHILLJAY
	push = +force group user/PHILLJAY
	pushMerge = group user/PHILLJAY
	read = group user/PHILLJAY
[access "refs/tags/*"]
	push = group user/PHILLJAY
	push = +force group user/PHILLJAY
